body{
    color: rgb(0, 0, 0);
    background: rgb(100, 126, 48);
}
header{
    border-bottom: solid 2px rgb(rgb(14, 32, 5));
    padding: 20px;
    font-size:32px;
color: rgb(124, 216, 33);
background: rgba(1, 34, 1, 0.851)
}